.drawPage {
  font-size: 18px;
  .title {
    text-align: center;
    font-size: 38px;
    padding: 24px;
  }
  .actionBar {
    margin-top: 20px;
    .selectLabel {
      text-align: right;
    }
    .select {
      width: 100%;
    }
  }
  .result {
    margin-top: 30px;
    .resultLabel {
      text-align: center;
      > div {
        padding-bottom: 20px;
      }
    }
    .resultContent {
      display: flex;
      justify-content: space-around;
      .awardsName {
        padding-bottom: 20px;
      }
    }
  }
}
.reset {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}